<div class="flex-center flex-column">
  <h1>Create Account</h1>
  <div>
    <input ng-model="username" type="text" placeholder="Username">
    <br>
    <input ng-model="password" type="password" placeholder="Password">
    <br>
    <input ng-model="firstName" type="text" placeholder="First Name (opt)">
    <br>
    <input ng-model="lastName" type="text" placeholder="Last Name (opt)">
    <br>
    <input ng-model="age" type="text" placeholder="Age (opt)">
    <div class="flex-center mt-3">
      <button class="btn btn-info" ng-click="createAccount()">Create Account</button>
      <button class="btn btn-dark" ng-click="goBack()">Go Back</button>
    </div>
    <hr>
    <div class="alert {{alertType}}" role="alert">{{message}}</div>
  </div>
</div>