<div class="wrap">
  <h1>Create Account</h1>
  <div>
    <input ng-model="username" type="text" placeholder="Username">
    <br>
    <input ng-model="password" type="password" placeholder="Password">
    <br>
    <input ng-model="firstName" type="text" placeholder="First Name (opt)">
    <br>
    <input ng-model="lastName" type="text" placeholder="Last Name (opt)">
    <br>
    <input ng-model="age" type="text" placeholder="Age (opt)">
    <hr>
    <div class="center">
      <button ng-click="createAccount()">Create Account</button>
      <button ng-click="goBack()">Go Back to login</button>
    </div>
    <hr>
    <p>{{message}}</p>
  </div>
</div>