<div class="container flex-center flex-column">
  <h1>User List</h1>
  <div>
    <div class="container d-flex flex-justify-center flex-wrap userlist">
      <div class="p-1 usercard" ng-repeat="user in userlist track by $index">
        <hr> User {{$index+1}}
        <br> Username: {{user.username}}
        <br> First Name: {{user.firstName}}
        <br> Last Name: {{user.lastName}}
        <br> Age: {{user.age}}
      </div>
    </div>
    <div class="alert {{alertType}}">
      {{message}}
    </div>
    <hr>
    <button class="btn btn-dark" ng-click="goBack()">Go back</button>
    <hr>
  </div>
</div>