<div class="container flex-center">
  <div class="flex center flex-column">
    <h1 ng-if="!welcome">Login</h1>
    <h1 ng-if="welcome">Welcome {{userId}}</h1>
    <div>
        <input ng-model="username" type="text" placeholder="Username">
        <br>
        <input ng-model="password" type="password" placeholder="Password">
      <div class="flex-center mt-3">
        <button class="btn btn-success" ng-click="login()" ng-if="!logged">Sign in</button>
        <button class="btn btn-warning" ng-click="logout()" ng-if="logged">Logout</button>
        <button class="btn btn-info" ng-click="createAccount()" ng-if="!logged">Create Account</button>
        <button class="btn btn-dark" ng-click="viewProfile()" ng-if="logged">View Profile</button>
        <button class="btn btn-dark" ng-click="viewUserList()">View UserList</button>
      </div>
      <hr>
      <div class="alert {{alertType}}" role="alert">{{message}}</div>
    </div>
  </div>
</div>