<div class="flex-center flex-column">
  <h1>Profile: {{userId}}</h1>
  <hr class="w-75">
  <div>
    Username: {{profileId}}
    <br>
    First Name: {{profileFirstName}}
    <br>
    Last Name: {{profileLastName}}
    <br>
    Age : {{profileAge}}
    <div class="flex-center mt-3">
      <button class="btn btn-dark btn-info" ng-click="editUser()" disabled>Edit</button>
      <button class="btn btn-dark btn-danger" ng-click="deleteUser()" disabled>Delete</button>
      <button class="btn btn-dark" ng-click="goBack()">Go Back</button>
    </div>
    <hr>
    <p>{{message}}</p>
  </div>
</div>